/* style.css */

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
a {text-decoration: none;}
ul{list-style-type: none;}
html{height: 100%;}
body {
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
}
#bg {
    min-width: 100%;
    min-height: 100%;
    background: skyblue;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
#main_header{
    width: 1200px;
    height: 70px; 
    margin: 0 auto;
    position: relative;
    background: #fff;
    /* outline: 2px solid red;  */
}
#main_header > #left_logo {
    position: absolute;
    left: 19px;
    top: 12px;
}
#gnb {
    position: absolute;
    left: 480px;
    top: 32px;
    text-align: center;
    z-index: 1;
}
/* 1단계 메뉴 */
#gnb > .depth1 > li {
    float: left;
    width: 100px;
    font-weight: bold;
    /* background: pink; */
    /* outline: 2px solid red; */
    
}
#gnb > .depth1 > li > a {
    height: 40px;
    color: #000;
    
}
#gnb > .depth1 > li > a:hover {
    color: #ff5758;
}
#gnb li a {
    display: block;
    line-height: 20px;
    
}

/* 2단계 메뉴 */
.depth2 > li {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    background: #fff;
    opacity: 0.8;
    
    /* border: 1px solid #666; */
}
.depth2 > li > a {
    color: #000;
    font-size: 14px;
}
/* search_bar */
#main_header > #right_search {
    position: absolute;
    right: 34px;
    top: 18px;
}
#main_header > #right_search > form > input {
    width: 200px;
    height: 40px;
}
#main_header > #right_search > img {
    width: 18px;
    position: absolute;
    top: 10px;
    right: 15px;
    /* background: #666; */
    ;
}


/* visual */
#visual{
    width: 1200px;
    /* height: 600px; */
    margin: 0 auto;
    position: relative;
    /* z-index: -99; */
}
#visual > #text > h1 {
    font-family: 'Monoton', cursive;
    font-size: 100px;
    font-weight: 500;
}
#text > h1 {
    position: absolute;
    z-index: 99;
    /* outline: 3px solid green; */
    width: 500px;
    text-align: center;
    margin-left: 50px;
    margin-top: 189px
}
#text > h2 {
    position: absolute;
    z-index: 99;
    /* outline: 2px solid red; */
    font-size: 42px;
    margin-top: 330px;
    margin-left: 149px;
}
#visual > #buy {
    position: absolute;
    z-index: 99;
    width: 230px;
    height: 45px;
    background: #000;
    border-radius: 15px;
    text-align: center;
    top: 406px;
    left: 153px;
} 
#visual > #buy:hover {
    background: rgb(61, 61, 61);;
}
#visual > #buy > h1 {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    line-height: 45px;
}
#bottom_gnb {
    /* outline: 2px solid red; */
    width: 200px;
    height: 20px;
    z-index: 99;
    position: absolute;
    text-align: left;
    left: 0px;
    top: 600px;
}
#bottom_gnb > ul > li{
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-right: 1em;
}
#bottom_gnb > ul > li:last-child{
    margin-right: 0;
}
#bottom_gnb > ul > li > a {
    color: #fff;
}
#bottom_gnb > ul > li > a:hover{
    /* padding-top: 10px; */
    border-bottom: 2px solid #fff;
}
#visual > #icon {
    width: 200px;
    height: 20px;
    z-index: 99;
    position: absolute;
    text-align: right;
    right: 0px;
    top: 600px;
}
#visual > #icon > ul > li {
    float: left;
    margin-right: 1em;
}
#visual > #icon > ul > li:last-child {
    margin-right: 0;
}
#visual > #icon > ul > li:hover {
    transform: scale(1.5);
}
#visual > #icon > ul > li > img {
    width: 26px;
    height: 26px;
}

/* 애니메이션 */
#text{
    animation-name: text;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
@keyframes text{
   from {
        right: 20px;
        transform: skew(-100deg);
    }
    to {
        right: 10px;
        transform: skew(0deg);
    }
}